<p id="notice"><%= notice %></p>

<h1>Entry Controls</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Entry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entry_controls.each do |entry_control| %>
      <tr>
        <td><%= entry_control.user_id %></td>
        <td><%= entry_control.entry %></td>
        <td><%= link_to 'Show', entry_control %></td>
        <td><%= link_to 'Edit', edit_entry_control_path(entry_control) %></td>
        <td><%= link_to 'Destroy', entry_control, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry Control', new_entry_control_path %>
